{% extends "home/base.html" %} {% block content %}
<!-- <img class = "rounded-circle article-img" src = "{{ post.author.profile.image.utl }}" /> -->

<div class="container overflow-hidden py-5 bg-light">
  <h1 class="bd-title" id="content">About</h1>
  <p class="bd-lead">
    Pick Up Games is a web app wherein individuals can casually find local pick
    up games for their favorite sports. The web app allows users to view a map
    of the most popular local sports locations and match up with other players
    in the area. Supported sports will include basketball, soccer, tennis, and
    more. Pick Up Games provides an easy and convenient way for anyone to search
    for and meet up with other people who want to play pick up sports games!
  </p>
  <p class="bd-lead">
    Pick Up Games provides an easy and convenient way for anyone to search for
    and meet up with other people who want to play pick up sports games!
  </p>

  <blockquote class="blockquote text-center">
    <p class="mb-0">
      Providing the right tools for the amateur sports community
    </p>
    <footer class="blockquote-footer">The Pick Up Games Team</footer>
  </blockquote>

  <h2 id="team">Team</h2>

  <p>
    The website applicatition is maintained by a
    <a href="https://github.com/Pick-Up-Game-Team/pick-up-games"
      >small team of developers</a
    >
    on GitHub. We’re actively looking to grow this team and would love to hear
    from you if you’re excited about CSS at scale, writing and maintaining
    vanilla JavaScript plugins, and improving build tooling processes for
    frontend code.
  </p>

  <h2 id="history">History</h2>

  <p>
    Founded in 2021, Pick Up Games offers support for pick up games of more than
    5 sports as a web-based software service. As a user you can find your best
    match quickly and easily with Pick Up Games!
  </p>
  <h2 id="get-involved">Get involved</h2>

  <p>
    Get involved with the web application development by
    <a href="https://github.com/Pick-Up-Game-Team/pick-up-games"
      >opening an issue</a
    >
    or contact us for more information on how we develop.
  </p>
</div>

{% endblock content %}
