{% extends "home/base.html" %}

{% block content %}

    <div class="container d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center pt-3">
            {% if sport %}
            <h2>All {{ sport }} Locations</h2>
            {% else %}
            <h2>All Courts</h2>
            {% endif %}
        </div>
        {% if object_list|length == 0 %}
            <h4>No courts available</h4>
        {% endif %}
        {% for obj in object_list %}
            <a href="{% url 'court-detail' obj.pk %}">{{obj.name}}</a>
        {% endfor %}
    </div>

{% endblock content %}