{% extends "home/base.html" %} {% block content %}
<!-- <img class = "rounded-circle article-img" src = "{{ post.author.profile.image.utl }}" /> -->

<div class="container-fluid">
  <div class="row featurette">
    <div
      id="bootstrap-overrides"
      class="col-md-4 container-fluid py-5"
      style="margin-right: 0"
    >
      <h1 class="display-3 fw-bold">Welcome to Pick Up Games</h1>
      <p class="">
        Pick Up Games provides an easy and convenient way for anyone to search
        for and meet up with other people who want to play pick up sports games!
      </p>

      <a href="{% url 'registration' %}" class="btn btn-secondary btn-lg"
        >Sign Up</a
      >
      <a href="{% url 'login' %}" class="btn btn-danger btn-lg">Login</a>
    </div>
    <div class="col-md-5 mx-auto my-5">
      <div class="h-100 p-1 bg-light border rounded-3">{{my_map|safe}}</div>
    </div>
  </div>
</div>

{% endblock content %}
