{% extends "home/base.html" %}
{% block content %}
  <center>
    {% if results %}
      <div class="d-flex justify-content-center pt-3">
        <h2> results for: {{ results }} </h2>
      </div>  

      <br/>
      {% for query in queries %}
        <a href="{% url 'profile_detail' query.username %}">
          {% if query.is_active %}
            {{ query }} - Online
          {% else %}
            {{ query }} - Offline
          {% endif %}
        </a>
      <br/>
      {% endfor %}

    {% else %}
      <div class="d-flex justify-content-center pt-3">
        <h2>no results for an empty search ...</h2>
      </div>
    {% endif %}
  </center>
{% endblock content %}
