{% extends "home/base.html" %}

{% block content %}
<div class="container d-flex flex-column">
  <div class="d-flex justify-content-center pt-3">
    <h2>View courts and locations by sport</h2>
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <a href="{% url 'court-list' %}?sport=Basketball" class="sport-box">
      <div
        class="
          bg-basketball
          mr-md-3
          pt-3
          px-3
          pt-md-5
          px-md-5
          text-center text-white
          overflow-hidden
        "
      >
        <div class="my-3 py-3">
          <h2 class="display-5">Basketball</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div
          class="bg-transparent box-shadow mx-auto"
          style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
        ></div>
      </div>
    </a>
    <a href="{% url 'court-list' %}?sport=Soccer" class="sport-box">
    <div
      class="
        bg-soccer
        mr-md-3
        pt-3
        px-3
        pt-md-5
        px-md-5
        text-center text-white
        overflow-hidden
      "
    >
      <div class="my-3 p-3">
        <h2 class="display-5">Soccer</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div
        class="bg-transparent box-shadow mx-auto"
        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
      ></div>
    </div>
  </a>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <a href="{% url 'court-list' %}?sport=Tennis" class="sport-box">
      <div
        class="
          bg-tennis
          mr-md-3
          pt-3
          px-3
          pt-md-5
          px-md-5
          text-center text-white
          overflow-hidden
        "
      >
        <div class="my-3 p-3">
          <h2 class="display-5">Tennis</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div
          class="bg-transparent box-shadow mx-auto"
          style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
        ></div>
      </div>
    </a>
    <a href="{% url 'court-list' %}?sport=Baseball" class="sport-box">
      <div
        class="
          bg-baseball
          mr-md-3
          pt-3
          px-3
          pt-md-5
          px-md-5
          text-center text-white
          overflow-hidden
        "
      >
        <div class="my-3 py-3">
          <h2 class="display-5">Baseball</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div
          class="bg-transparent box-shadow mx-auto"
          style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
        ></div>
      </div>
    </a>
  </div>
</div>
{% endblock content %}
