{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
 List of All Profiles
{% endblock title %}

{% block content %}
    {% if is_empty %}
        <h1>No Profiles to interact with</h1>
    {% endif %}

    {% for obj in object_list %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui small circular image"src={{obj.image.url}}>
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.sports}}</p>
                        <button class="ui primary button">See profile</button>


                        <!-- Adding Friend -->
                        {% if obj.user not in rel_receiver and obj.user not in rel_sender %}
                        <form action="{% url 'send-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <!-- No friend request between the 2 users -->
                            <button type="submit" class="ui positive basic button">
                                <i class="plus square icon">  </i>
                                Add to friends
                            </button>
                        </form>
                        {% endif %}

                        <!-- There's a pending invite that we sent to this user -->
                        {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                            <button class="ui disabled button">
                                <i class="user icon"></i>
                                Waiting for approval
                            </button>
                        {% endif %}

                        <!-- Removing Friend -->
                        {% if request.user in obj.friends.all %}
                        <form action="{% url 'remove-friend' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui negative basic button">
                                <i class="plus square icon"></i>
                                Remove from friends
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}