{% extends "home/base.html" %} {% load crispy_forms_tags %} {% block content %}

<section class="vh-auto" >
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg col-xl-11">
  
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <div class="content-section d-flex flex-row align-items-center mb-4">
                <form class="mx-1 mx-md-4" method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                      Sign up
                    </p>
                    {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                      Sign Up
                    </button>
                  </div>
                  <div class="border-top pt-3">
                    <small class="text-muted">
                      already have an account?
                      <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                    </small>
                  </div>
                  </div>
                </form>
              </div>
              <div
                class="
                  col-md-9 col-lg-5 col-xl-5
                  d-flex
                  align-items-center
                  order-1 order-lg-2
                "
              >
                <img
                  src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
